VITE_API_BASE_URL=http://localhost:4000/api


#upload_service
PORT=5001

# DATABASE
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=fait_tourner_db
DATABASE_URL=


# mail service
PORT=5002
EMAIL_USER=onboarding@resend.dev
RESEND_API_KEY=


# API
PORT=4000
SECRET_KEY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
BACKEND_URL=http://localhost:4000

# DATABASE
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=fait_tourner_db
DATABASE_URL=


# mail service
EMAIL_USER=onboarding@resend.dev
RESEND_API_KEY=


#upload_service
UPLOAD_SERVICE_URL=http://localhost:4002

# railway db et backend
MYSQLHOST=
MYSQLUSER=
MYSQLPASSWORD=
MYSQLPORT=
MYSQLDATABASE=

#Auth google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL="http://localhost:4000/api/auth/google/callback"


#frontend
FRONT_BASE_URL=http://localhost:5173





# MYSQLPASSWORD=
# MYSQLPASSWORD="gEMvExixkPoaxcyEmqAUBgMgTFKmyisc"
# superbasePASWORD=Orion1004007110%
# https://cjycvcloyceerrqmvtte.supabase.co
# postgresql://postgres:Orion1004007110%@db.cjycvcloyceerrqmvtte.supabase.co:5432/postgres

# environement de dev
VITE_API_URL=http://localhost:4000

VITE_GOOGLE_CLIENT_ID="921331942521-uspkmff5n2k44el0sug6bkinkao9ht29.apps.googleusercontent.com"

