footer {
    position: fixed; /* ✅ Fixe le footer */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    padding-left: 10px;
}

footer .button-delete {
    background-color: red !important;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.ul-footer {
    margin: 15px;

    .li-footer {
        margin: 10 10px;
        margin-top: 5px;
    }
}

.p-footer {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}
